<div>
  <span class="fw-bold p12">{{ to.label }} <span class="red">*</span></span> <br />
  <div class="d-flex">
    <input oninput="if (/[^0-9]/g.test(this.value)) this.value = this.value.replace(/[^0-9]/g,'')" id="{{ field.key }}"
      [maxlength]="10" [formControl]="formControl" [formlyAttributes]="field" pattern="[1-9]{1}[0-9]{1}[0-9]{8}"
      [ngClass]="isNumberValid ? 'form-control' : 'form-control is-invalid'" required />
    <span class="fw-bold p14 pointer btn-holder btn-verify btn-verify-mobile" *ngIf="!isVerify"
      (click)="verifyOtp(field.key)"> Verify </span>
    <span class="text-success verifyIcon fw-bold p-1" *ngIf="isVerify">
      <i class="fa fa-check-circle" aria-hidden="true"></i>
    </span>
  </div>
  <div class="p12" id="mobmessage"></div>


  <!-- Enter otp popup-->
  <div class="modal fade" id="verifyOtpPopup" tabindex="-1" role="dialog" aria-labelledby="verifyOtpPopup"
    aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="p-4 modal-content">
        <div class="close float-end" data-dismiss="modal" aria-label="Close" (click)="clearVal()">
          <span class=" float-end" aria-hidden="true">&times;</span>
        </div>
        <div class="modal-body">
          <h3 class="fw-bold mb-3">Confirm OTP</h3>
          <p class="p14">
            Please enter the OTP received on your mobile number
          </p>
          <span class="fw-bold p12"> Enter OTP</span> <br />
          <input maxLength="6" type="input" [(ngModel)]="optVal" name="optVal" class="form-control" />
          <br />
          <span *ngIf="err401" class="p12 red lh-32">{{errorMessage}}</span>
          <button  type="button"  (click)="submitOtp()" 
            class="btn btn-primary-notto btn-style w-100 submit-button mb-2">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- below 18 age err popup -->
  <div class="modal fade" [hidden]="false" id="canRegister" tabindex="-1" role="dialog" aria-labelledby="canRegister"
    aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="p-4 modal-content">
        <div class="close float-end" data-dismiss="modal" aria-label="Close">
          <span class=" float-end" aria-hidden="true">&times;</span>
        </div>
        <div class="modal-body text-center">
          <h3 class="fw-bold mb-3">Thank you for your enthusiasm. </h3>
          <p class="p14">Please come back and register with us when you are 18.</p>
          <a href="https://www.notto.mohfw.gov.in/WriteReadData/Portal/News/779_1_Adobe_Scan_Jun_10__2022__1_.pdf#page=52"
            target="_blank">Click here for more information</a>
          <br />
          <br />
          <div class="container-fluid mt-3">
            <button type="button" class="btn btn-primary-notto btn-style w-100 submit-button mb-2" data-toggle="modal" (click)="clearVal()"
              data-dismiss="modal" aria-label="Close">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Display profile list-->
  <div class="modal fade" id="selectProfileModel" tabindex="-1" role="dialog" aria-labelledby="selectProfileModel"
    aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="p-4 modal-content">
        <!-- <div class="close float-end" data-dismiss="modal" aria-label="Close">
          <span class=" float-end" aria-hidden="true">&times;</span>
        </div> -->
        <div class="modal-body">
          <div *ngIf="linkedAbhaList?.mobileLinkedHid.length">
            <p class="p24 fw-bold text-center lh-32">Select Profile</p>

            <div *ngIf="isAllAbhaRegister" class="text-center p14 lh-32 mb-2">
              <span>We found the following ABHA number linked to this number.</span> <br />
              <span>  Select the ABHA number for which you wish to pledge.</span>
            </div>
            <div *ngIf="!isAllAbhaRegister" class="text-center p14 lh-32 mb-2">
              <span>We found the following ABHA number linked to this number.</span> <br />
              <span> All Profiles are already registered for Pledge.</span>
            </div>


            <div class="card">
              <div class="card-body">
                <ul>
                  <li class="p12 d-flex my-4" *ngFor="let profile of linkedAbhaList?.mobileLinkedHid">
                    <div class="mr-3">
                      <input  class="form-check-input"
                        (change)="onItemChange(profile)" [disabled]="profile?.pledged? true : false" type="radio"
                        name="aprofile" id="{{profile.healthIdNumber}}" value="{{profile}}">
                    </div>
                    <div>
                      <p>
                        <span class="mr-2 text-grey-color">Name</span>
                        <span class="fw-bold">{{profile.name}}</span>
                      </p>
                      <p>
                        <span class="mr-2 text-grey-color">ABHA number</span>
                        <span class="fw-bold">{{profile.healthIdNumber}}</span>
                      </p>
                      <p class="text-success" [hidden]="!profile?.pledged">Already Registered for Pledge</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <br />

            <div *ngIf="isAllAbhaRegister">
              <button data-dismiss="modal" id="cancelBtn" (click)="clearVal()"
                class="btn btn-secondary-notto fw-bold btn-style mb-2">Cancel</button>
              <a class="mt-3">
                <button type="btn" class="btn btn-primary-notto float-end fw-bold  mb-2" data-toggle="modal"
                  data-target="#saveProfile" data-dismiss="modal" aria-label="Close" [disabled]="!selected" (click)="getProfile()">Next</button>
              </a>
            </div>
            <div *ngIf="!isAllAbhaRegister" class="text-center">
              <button data-dismiss="modal" id="cancelBtn"
                class="btn btn-primary-notto fw-bold btn-style mb-2">Ok</button>
              <a class="mt-3">
              </a>
            </div>
          </div>
          <div *ngIf="!linkedAbhaList?.mobileLinkedHid.length && noLinkedAbha">
            <div *ngIf="customErrCode == '427' || customErrCode == ''">
            <p class="p24 fw-bold text-center lh-32">{{'NO_ABHA_NO_FOUND' | translate}}</p>

            <div class="text-center p14 lh-32 mb-2">
              <span>{{'DID_NOT_ABHA_LINKED_TO_MOBILE_NO' | translate}} </span> <br />
              <span>{{'PLEASE_ENTER_ANOTHER_MOBILE_NUMBER' | translate}} </span>
            </div>
          </div>
          <div *ngIf="customErrCode == '420'">
            <p class="p24 fw-bold text-center lh-32">{{ 'WAIT_FOR_30_SEC' | translate }}</p>

            <div class="text-center p14 lh-32 mb-2">
              <span>{{'REACHED_MAX_VERIFY_ATTEMT' | translate}} </span> <br />
              <span>{{'REFRESH_BROWSER_TRY_AGAIN' | translate}} </span>
            </div>
          </div>
            <div  class="text-center">
              <button data-dismiss="modal" id="cancelBtn" (click)="clearVal()"
                class="btn btn-primary-notto fw-bold btn-style mb-2">Ok</button>
              <a class="mt-3">
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <button id="closeModalButton" [hidden]="true" data-toggle="modal" data-target="#verifyOtpPopup"
    class="btn btn-default" data-dismiss="modal">
    Close
  </button>


</div>
