.wrapper{
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;

}

.temp{
    margin-left: 30%;
    margin-top: 1%;
}

.pdfDisplay{
    height: 100%;
    width: 100%;
    }

    #pdf_container { background: #ccc; text-align: center; display: none; padding: 5px; overflow: auto }

