<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-header nav-b navbar-inverse">
        <a class="nav-link pl-4" href="" onClick="history.go(-1); return false;"><i
                class="fa fa-angle-left primary-text"></i> </a>
                <div class="d-flex align-items-center flex-justify-between w-100">
        <div class="heading-2 fw-bold">Download Pledge Certificate</div>
        <div class="btn btn-primary-green btn-style float-end mr-1 font-weight-bold p-2 p14" data-mdb-toggle="tooltip"  (click)="dowbloadCard1()" >  <i class="fa fa-download" aria-hidden="true"></i> Download Pledge Certificate</div>
        </div>
    </nav>
</header>

<div *ngIf="url" class="modal-body" class="wrapper">
    <iframe class="pdfDisplay" [src]="url"></iframe>
    <!-- <app-layouts layout={{layout}} identifier={{identifier}} public="true"></app-layouts> -->
</div>
        
