<app-header *ngIf="!public" [headerFor]="public" [tab]='tab'></app-header>


<div class="mt-190 pb-3 m-3">

    <button  class="gobackBtn d-flex fw-bold my-2" onClick="history.go(-1); return false;">
        <i class="fa fa-angle-left primary-text backIcon"></i>  &nbsp; &nbsp;
          <span class="fs-24 fw-bold mt-2"> Share Pledge Status </span> 
       
    </button>

    <div class="card">
        <div class="card-body">
            <p class="fs-24 fw-bold"> Venkata Narasimha Rajuvaripet</p>
            <p class="p16  mt-2 mb-4">Thanks for pledging your organs. You can now, share your pledge status on social
                media to
                spread the word. </p>

                <div class="input-group inputCp w-50 mb-3">
                    <input type="text" class="form-control inputCp" placeholder="" aria-label="Recipient's username"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append1">
                        <button class="btn copyBtn mt-1 fw-bold btn-small" type="button">Copy Link</button>
                    </div>
                </div>

                <p class="fw-bold p16 mb-1">Share on social media</p>
                <a class="fa fa-facebook" target="_blank"
                    href="https://www.facebook.com/sharer/sharer.php?u={{url}}&amp;src=sdkpreparse"></a>
                <a class="fa fa-twitter" target="_blank"
                    href="https://twitter.com/intent/tweet?text=text goes here {{url}}&hashtags=hashtag1,hashtag2"></a>

                <a class="fa fa-whatsapp" target="_blank" href="https://web.whatsapp.com/send?text=www.google.com"
                    data-text="Take a look at this awesome website:"></a>
                <!-- <a href="whatsapp://send?text=www.google.com" data-text="Take a look at this awesome website:" class="wa_btn wa_btn_s" style="display:none">Share1</a> -->

                <a class="fa fa-linkedin" target="_blank"
                    href="https://www.linkedin.com/sharing/share-offsite/?url={{url}}"></a>

                <a class="fa fa-envelope" target="_blank"
                    href="mailto:recipient@example.com?subject=Image%20Sharing&body=Please%20find%20the%20attached%20{{url}}"></a>

                <a class="fa fa-instagram" target="_blank" href="instagram://library?AssetPath={{url}}"></a>
        </div>
    </div>


</div>